
<ion-view view-title="RIVER ON">
	<ion-content class="padding">
		<h3>About this app</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis doloremque quam eaque nam, iusto magnam, ipsa non illum, in, voluptas accusamus recusandae. Eligendi quos atque provident officiis molestiae, perspiciatis iste.</p>
	</ion-content>

	<ion-footer-bar style="height: 80px">
		<div class="title" style="height: 80px">
			<a ng-click="about.back()"><i class="largeicon icon ion-ios-arrow-thin-left"></i></a>
		</div>
	</ion-footer-bar> 

</ion-view>

