

<ion-view view-title="About">
	<ion-content>
		<div class="list card">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, cupiditate iusto eos nemo doloremque, voluptas veniam consequatur eveniet asperiores obcaecati temporibus minus error atque, fugit alias necessitatibus suscipit voluptate sed.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque alias laudantium dicta illum, nulla, amet eum asperiores nobis reprehenderit minus quam sequi quis nisi hic saepe temporibus esse sint!
		</div>

	</ion-content>
</ion-view>

