
<ion-view view-title="RIVER ON">
	<ion-content class="padding">
		<h3>About this app</h3>
		<p>This app was created by Luca Naterop and Tizian Naterop. </p>
		<p>If you would like to leave a feedback, give suggestions, or simply chat with us, do not hesitate to reach out to us at <a href="mailto:luca@naterop.net">luca@naterop.net</a>. In particular, if you know about additional spots in Switzerland that you would like to see in this app, then do not hesitate to contact us! We love to hear from you.</p>

		<p>
			<h3>Data Origin</h3>
			<a href="www.bafu.admin.ch/abteilung-hydrologie">Bumdesamt für Umwelt (BAFU): Abteilung Hydrologie</a>
		</p>

		<div style="height: 80px"></div>
	</ion-content>


	<ion-footer-bar style="height: 80px">
		<div class="title" style="height: 80px">
			<a ng-click="about.back()"><i class="largeicon icon ion-ios-arrow-thin-left"></i></a>
		</div>
	</ion-footer-bar> 

</ion-view>

