
<ion-view view-title="RIVER ON">

	<ion-content>
		<div style="text-align: center">
			<br>
			<button ng-click="addspots.sortAlphabetically()" class="button button-dark button-outline">A-B-C</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button ng-click="addspots.sortByDistance()" class="button button-dark button-outline icon ion-navigate"></button>
		</div>
		<br>
		<br>
		<ion-list>
			<ion-item ng-repeat="spot in addspots.spots" ng-click="addspots.addSpot(spot.name)" class="item item-icon-left">
				<i class="icon ion-ios-plus-outline"></i>
				{{spot.name | capitalize}} 
				<p ng-if="spot.distance">{{ spot.distance }} km</p>
			</ion-item>
		</ion-list>

		<div style="height: 80px"></div>
	</ion-content>

	<ion-footer-bar style="height: 80px">
		<div class="title" style="height: 80px">
			<a ng-click="addspots.back()"><i class="largeicon icon ion-ios-arrow-thin-left"></i></a>
		</div>
	</ion-footer-bar> 

</ion-view>

