
<ion-view view-title="RIVER ON">
	<ion-content>
		<div class="padding">
			<h2>{{spot.spot.name | capitalize}}</h2>
			<br>
			<p>{{spot.spot.lastValue}} m<sup>3</sup>/s</p>
			<p>{{spot.spot.temperature}} °C</p>
		</div>
		<ion-toggle ng-model="spot.pushEnabled" ng-change="spot.toggleChanged()" toggle-class="toggle-positive">Push Notifications</ion-toggle>
	</ion-content>

	<ion-footer-bar style="height: 80px">
		<div class="title" style="height: 80px">
			<a ng-click="spot.back()"><i class="largeicon icon ion-ios-arrow-thin-left"></i></a>
		</div>
	</ion-footer-bar>
	
</ion-view>

