

// Let's overwrite the ionic colors...

@import "./ionic/ionic.import.scss";

.onpoint {
	font-size: 20px !important;
	color: #00e600;
}

.offpoint {
	font-size: 20px !important;
	color: red;
}

.largeicon {
	font-size: 80px !important;
	color: #ccc;
}