<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">About Push Notifications</h1>
        <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-ios-close-empty"></span></div>
	</ion-header-bar>
	<ion-content class="padding">
		<h3>When am I being notified?</h3>
		<p>
			Push Notifications work as follows. For each spot for which you have notifications enabled, you will get notified on each day of the week at 8:00 in the morning and at 16:00 in the afternoon if and only if the last value measured is within the range that you have specified; that is, if the river is ON. 
		</p>
		<h3>I want to customize Notifications!</h3>
		<p>
			Customization of push notifications is not possible in this version, but we might implement it in upcoming versions. If you feel like that would be an important feature for you, then just let us know. You will find our contact details in the about section. 
		</p>
	</ion-content>
</ion-modal-view>
